<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</head>
<body>
      <br><br>
      <div class="container-fluid">
        <div class="row">

          <h4>Welcome Manager to home Page</h4>
           <p>On This page you can Create show, accept or reject applicants, view their documents </p>
           <p>This is very Esteemed position that you are holding</p>
            <P>Please be very very careful</P>

        </div>

      <!-- Site footer -->
      <footer class="footer" style="background-color:black color:white">
        <p><h6>© 2016 Company, Inc.</h6></p>
      </footer>

      </div> <!-- /container -->



    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>