<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<style>
.carousel{max-width:100%;
          max-height:100%;
          display: flex;
       background-color: #051223;
       padding-top: 10px;
       padding-right: 10px;
       padding-bottom: 10px;
       padding-left: 10px;
       }
.img {
           border-radius: 8px;
       }

.bann{
       height: 100px;
       background-color: #051223;
       padding-top: 10px;
       text-align: center;
       color: white;
}

.horizontalgap{height:10px}
</style>


</head>
<body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted"></h3>
        <nav>
          <ul class="nav nav-pills">
            <li><a href="index">Home</a></li>
            <li class="active"><a href="#">माळी समाज</a></li>
            <li><a href="#">माहिती</a></li>
            <li><a href="#">मागील कार्यक्रम</a></li>
            <li><a href="About">About</a></li>
            <li><a href="#">संपर्क</a></li>
            <li><a href="apply">Apply!</a></li>
          </ul>
        </nav>
      </div>




      <!-- Site footer -->
      <footer class="footer" style="background-color:black color:white">
        <p><h1>© 2016 Company, Inc.</h1></p>
      </footer>

    </div> <!-- /container -->



    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>