<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script>
    $(document).ready(function(){
        $("#allapp").click(function(){
            $("#loadHere").load("Allaplicants");
        });

        $("#allList").click(function(){
            $("#loadHere").load("plainList");
        });

        $("#dashboard").click(function(){
            $("#loadHere").load("dashboard");
        });

        $("#fileList").click(function(){
            $("#loadHere").load("allFiles");
        });


    });

</script>

    <style>
        .hee{
            height: 100px;
        }
        .side{
            height:900px;
        }
    </style>
</head>
<body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted"></h3>
        <nav>
          <ul class="nav nav-pills">
            <li><a href="index">Home</a></li>
            <li class="active"><a href="#">माळी समाज</a></li>
            <li><a href="#">माहिती</a></li>
            <li><a href="#">मागील कार्यक्रम</a></li>
            <li><a href="#">संपर्क</a></li>
            <li><a href="apply">Apply!</a></li>
          </ul>
        </nav>
      </div>

      <br><br>
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 hee" style="background-color: gainsboro"></div>

            <div class="col-lg-9 hee"  style="background-color: gainsboro"></div>

            <div class="col-lg-3 side" style="background-color: gainsboro">
                <h4>Menu</h4>
                <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" id="dashboard"><a href="#">DashBoard</a></li>
                        <li role="presentation" id="allapp"><a href="#">All Applicants</a></li>
                        <li role="presentation" id="allList"><a href="#">Applicants List</a></li>
                    <li role="presentation" id="fileList"><a href="#">Applicants Files</a></li>
                        <li role="presentation"><a href="#">Show</a></li>
                </ul>
            </div>

            <div class="col-lg-9 side" id="loadHere"></div>
        </div>

      <!-- Site footer -->
      <footer class="footer" style="background-color:black color:white">
        <p><h6>© 2016 Company, Inc.</h6></p>
      </footer>

      </div>

</body>
</html>